/* Home.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 82, 165);
    background-color: white; /* Add a background color to your container */
}

a {
    color: rgb(37, 82, 165);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(37, 82, 165);
}

.header {
    /* Add any specific styles for your header here */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center; /* Center the contents of the form container */
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

select,
input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}


.custom-input-label {
    margin-top: 5px; /* Add any custom styles you need for your labels */
    margin-left: 5px;
}
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Center vertically within the viewport */
}